.Logo{
    // background-color: white;
    // padding: 8px;
    height: 100%;
    width: 20%;
    padding: 1px;
    border-radius: 5px;
    background-color: #ecd71a;
    box-sizing: border-box;
}


.Logo p{
    // padding-top: 2;
    text-align: center;
    text-decoration: solid;
    text-transform: capitalize;
    color: brown;
    // font-size: large;
    font-weight: bolder;
    margin-top: 8px;
}